.cont-input {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 1.5rem;
}

.input {
    margin: 0px 0px;
    color: #ffff;
    font-size: 1.4rem;
    width: 400px;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #75DED7;
    margin-bottom: 20px;
    outline: none;
    font-family: Barlow;
    font-weight: lighter;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}