.cont-productos {
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cont-gral-prod {
    margin-bottom: 150px;
    text-align: center;
}

.title-productos {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-family: Garamond;
    font-weight: lighter;
}

.cat-productos {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    color: rgb(180, 174, 174);
}