body {
  margin: 0;
  font-family: Barlow, Garamond, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: "Garamond";
  src: url('./Fonts/Garamond/GARA.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url('./Fonts/Barlow/BARLOW-EXTRALIGHT.TTF');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Barlow";
  src: url('./Fonts/Barlow/BARLOW-REGULAR.TTF');
  font-weight: normal;
  font-style: normal;
}